<div class="htmlContainer">
  <h1>Screen Writer + VIM </h1>
  
  <div class="dropdown-container">
    <div class="dropdown">
      <button class="shortcut filter-button" (click)="toggleShortcutsList()">
        Shortcuts <span class="dropdown-arrow">
          <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M7 10l5 5 5-5z"></path>
          </svg>
        </span>
      </button>
      <div *ngIf="isShortcutsListVisible" class="shortcuts-list">
        <ul>

          <li><kbd>When typing:</kbd></li>
          <li><kbd>CMD</kbd>/<kbd>CTRL</kbd> + <kbd>S</kbd> =  save</li>
          <li><kbd>CMD</kbd>/<kbd>CTRL</kbd> + <kbd>Z</kbd> =  undo</li>
          <!-- Add other shortcuts as needed -->
        </ul>
      </div>
    </div>
    <div class="dropdown">
      <button class="shortcut filter-button" (click)="toggleVimList()">
        Vim Options <span class="dropdown-arrow">
          <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M7 10l5 5 5-5z"></path>
          </svg>
        </span>
      </button>
      <div *ngIf="isVimListVisible" class="vim-list">
        <label>
          <input type="checkbox" [(ngModel)]="keyMappingUpEnabled" (change)="toggleKeyUpMapping()">
          Enable 'up' through every line
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="keyMappingDownEnabled" (change)="toggleKeyDownMapping()">
          Enable 'down' through every line
        </label>
        <label>
          <label for="inputField">Click <a href="https://codemirror.net/5/keymap/vim.js" target="_blank">for more Vim keybindings</a>):</label>
        </label>
      </div>
    </div>
  </div>
  
  
  
  <section class="editContainer" #editorContainer></section>
  
</div>
